<div ng-controller="loginController">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Hawkeye Center</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-8 col-md-offset-2">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            用户名：
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="用户名" ng-model="account">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            密码：
                        </label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" placeholder="只能是数字、字母、下划线" ng-model="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="margin: 3px 10px;">
                            <a class="btn btn-success btn-lg" style="width: 100%" ng-click="login()">登录</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
